.header{
    background-color: pink;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    font-size: 1.2rem;
}

.header-left{
    justify-self: start;
    margin-left: 20px;
}

.logo{
    cursor: pointer;
    justify-self: start;
    margin-left: 20px;
}

.menu{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
    cursor: pointer;
}

.menu-item:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}